{% extends 'base.html' %}

{% block title %}
    <title>Все пользователи</title>
{% endblock %}

{% block style %}
    <style>
    body {
        background-color: #f8f9fa;
    }
        
    </style>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endfor %}

        <form class="d-flex" action="/search_all_users" style="margin-top: 20px;">
            <input class="form-control me-2" id="autocomplete" name="query" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </i>
            </button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Почта</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Дата регистрации</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for user in users %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{user.role}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.date_reg}}</td>
                        <td>
                            {% if user.role == "BAN" %}
                            <form method="POST" action="/un_BAN_user/{{user.id}}">  
                                <button type="submit" class="btn btn-success">
                                    Разбан
                                </button>
                            </form>
                            {% else %}
                            <form method="POST" action="/BAN_user/{{user.id}}">  
                                <button type="submit" class="btn btn-danger">
                                    Бан
                                </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}

{% endblock %}